.home-background {
  min-height: 100vh;
  background-image: url('https://cdn.dribbble.com/users/88525/screenshots/2534623/earth.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-background {
  background-color: rgba(125, 197, 125, 0.9);
  display: flex;
  justify-content: center;
  /* width: 50%; */
  margin-top: 5px;
  margin-bottom: 15px;
}

.font-link {
  font-family: 'Roboto Slab', cursive;
}

.title-colour-layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 22%;
}

.title-text {
  color: white;
  text-align: center;
  padding-bottom: 48%;
  font-size: 50px;
  font-weight: bold;
}

.blank-body {
  padding: 24px;
  min-height: 500px;
  background-color: white;
}
